.option {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    width: calc(100%/2);
}

.option input {
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.option label {
    cursor: pointer;
    color: #4f4f4f;
    padding-left: 0.63rem;
}

@media (max-width: 768px) {
    .option {
        font-size: 12px;
    }
}
